<h2>Thank you for your order!</h2>

<p>Your order has been placed successfully. You will receive an email confirmation shortly.</p>


<%= link_to "Back to Shop", root_path, class: "btn btn-primary" %>
