<h1>Welcome to the Admin Dashboard</h1>
<div class="links">
<%= link_to 'Manage Products', admin_products_path %>
<%= link_to 'Manage Categories', admin_categories_path %>
<%= link_to "Back to Homepage", products_path, class: 'button is-link' %>
</div>

<h3>This is the Control center of the website</h3>
